body {

}
.assign-fields-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.assign-fields-row {
  display: flex;
  flex-direction: row;
  margin: 30px;
}
.blue-outline {
  border: solid 1px cornflowerblue;
  border-radius: 3px;
  padding: 3px;
  margin: 40px;
}
button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  width: 20px;
  height: 20px;
  color: black;
}
.assign-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 270px;
  margin: 40px;
}
.field-row {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 align-content: center;
 align-self: center;
}
select {
  margin: 0;
  background-color: white;
}
option {

}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
