/*=====GENERAL LAYOUT=====*/
.edit-cards-view-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.edit-left-sidebar-container,
.edit-right-sidebar-container {
  width: 20%;
}

.edit-center-container {
  background-color: #535353;
  width: 60%;
}

.carousel-container {
  background-color: #757575;
}

/*=====GENERAL UI STYLES=====*/
.local-action {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #4A90E2;
  cursor: pointer;
}

.local-action > i,
.card-list-item > i,
.symbol-list-item > i {
  font-size: 1em;
  margin-right: 0.5em;
}

.card-list-item,
.symbol-list-item {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

.selected-list-item {
  background-color: #e6f1ff;
}

input {
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  text-align: center;
  width: 100%;
  height: 2em;
}

.horizontal-input {
  display: flex;
  justify-content: space-between;
}

.horizontal-input > h3,
.horizontal-input > input {
  width: 50%;
}

.two-buttons {
  display: flex;
  justify-content: space-between;
}

.two-buttons > button {
  width: 45%;
}

.sm-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2em;
  border: none;
  border-radius: 2px;
  background-color: #4A90E2;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
}

.sm-btn > i {
  font-size: 18px;
}

.input-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-add > i {
  margin-left: 0.2em;
  color: #4A90E2;
}

/*==ACTION AREA==*/


/*=====CENTER AREA=====*/
.edit-center-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.current-card-wrapper {
  margin-top: 5em;
}

.current-card {
  width: 242px;
  height: 338px;
  background-color: #fff;
}

.carousel-container {
  width: 100%;
  min-height: 250px;
  display: flex;
  overflow: auto;
}

.carousel-card-wrapper {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-card {
  width: 125px;
  height: 175px;
  background-color: #fff;
}
/*===Editable Card Container===*/
.outline {
  border: solid 1px;
}
.grid {
  display: flex;
  flex-direction: row;
}
.grid ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.box-col li {
  border: 1px solid black;
  border-top: none;
}
.box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box-row {
  display: flex;
  flex-direction: row;
}
.box-row li {
  border: solid 1px black;
  border-right: 0;
}
.box-row li:first-child {
  border-left: 0;
}
.text-col li{
  border-bottom: solid 1px black;
}
.row-1 {
  height: 25px;
  display: flex;
  margin-bottom: 1px;
  align-items: center;
  justify-content: space-around;
}
.center-grid {
  justify-content: space-around;
}
.art-space {
  height: 120px;
  opacity: 0;
}
.text-col-2 {
  width: 200px;
}
.text-col-2 li {
  border: solid 1px black;
  border-bottom: 0;
}
.row-2 {
  height: 20px;
}
.row-3 {
  height: 60px;
}
.row-4 {
  height: 30px;
}
.right-col li {
  border-right: 0px;
}
.left-col li {
  border-left: 0px;
}
.left-col li:first-child, .right-col li:first-child, .top-row li {
  border-top: 0px;
}
.bottom-row li {
  border-bottom: 0px;
}
