.print-preview-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.print-preview {
  background-color: #535353;
  height: 100%;
  width: 80%;
}

.print-preview-page {
  background-color: #fff;
  margin: 3em auto;
  height: 837px;
  width: 648px;
  padding: 40px;
}

.card-row {
  display: flex;
  justify-content: center;
}

.card-preview {
  width: 180px;
  height: 252px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}

.print-pdf {
  margin: 0.5em 1em;
  justify-content: center;
}

#printarea {
  margin: 1em auto;
  page-break-after: always;
}

.print-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2em auto;
  cursor: pointer;
  width: 200px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printarea * {
    visibility: visible;
  }
}

.go-back {
  display: flex;
  align-items: center;
  padding: 0.8em;
  background-color: #f3f3f3;
  cursor: pointer;
  transition: 0.5s;
  color: #000;
}

.go-back:hover {
  background-color: #e6f1ff;
}

.go-back:active {
  background-color: #f3f3f3;
}
