* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root,
.route-wrapper,
.edit-cards-view-container {
  height: calc(100% - 10px);
}

.height100 {
  height: 100%;
}

p, h1, h2, h3, h4, a {
  margin: 0em;
}

div, p {
  font-family: 'Karla', sans-serif;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
  font-family: 'Yantramanav', sans-serif;
  margin-bottom: 0.2em;
}

.txt-ctr {
  text-align: center;
}

.white {
  color: #fff;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #D8D8D8;
}

.hide {
  display: none;
}

button {
 width: 100%;
 padding: 0.7em;
 background-color: #4A90E2;
 color: #fff;
 border: none;
 border-radius: 2px;
 text-transform: uppercase;
 font-size: 0.9em;
 cursor: pointer;
}

.green {
  background-color: #4CAF50;
  transition: 0.5s;
}

.green:hover {
  background-color: #3b983f;
}

.mt-2 {
  margin-top: 2em;
}

.mtb-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.m-1 {
  margin: 1em;
}

.mtb-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.m-05 {
  margin: 0.5em;
}

.mtb-05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.mr-05 {
  margin-right: 0.5em;
}

.p-05 {
  padding: 0.5em;
}
